<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:float="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>修改密码</title>
  <link rel="stylesheet" href="/css/weui.css"/>
  <link rel="stylesheet" href="/css/weuix.css"/>
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/common/zepto.min.js"></script>
  <script src="/js/common/zepto.weui.js"></script>


    <script>
        function modpassword(){

            var oldpassword=$("#oldpassword").val();
            var newpassword=$("#newpassword").val();
            if(!oldpassword){
                $("#message").html("旧密码不能为空！");
                return false;
            }
            else if(!newpassword){
                $("#message").html("新密码不能为空！");
                return false;
            }else{
                $("#modpassword").submit();
            }
        }
    </script>
</head>
<body ontouchstart>

<div class="weui-flex head-con">
    <div class="weui-flex__item weui-flex__item_left"><div class="placeholder"><a href="javascript:window.history.go(-1)"><span class="icon icon-109"></span></a></div></div>
    <div class="weui-flex__item"><div class="placeholder">修改密码</div></div>
    <div class="weui-flex__item weui-flex__item_right"><div class="placeholder"><a href="#"><span class="icon icon-40"></span></a></div></div>
</div>
    <div style="margin-top: 50px"></div>

    <form class="weui-cells weui-form" id="modpassword" action="/user/passwordModify" method="post">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">旧密码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="请输入旧密码" name="oldpassword" id="oldpassword" type="password" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">新密码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="请输入新密码" name="newpassword" id="newpassword" type="password">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">确认新密码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="请再次输入新密码" name="confirmnewpassword" type="password">
            </div>
        </div>

        <h5  class="message1" id="message" th:text="${pasMSG}" style="text-align: center;font-size:16px;color: red"></h5>

        <div class="weui-btn-area">
            <input class="weui-btn weui-btn_primary" type="button"  id="btn" value="确认修改"onclick="modpassword()"/>
        </div>
    </form>





<!-- 导航 -->
<div class="weui-tabbar weui-tabbar-flex">
    <a href="/register/reglist" class="weui-tabbar__item">
        <i class="icon icon-67 f27 weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">预约挂号</p>
    </a>

    <a href="/payOrder/paylist" class="weui-tabbar__item ">
            <span style="display: inline-block;position: relative;">
                <i class="icon icon-43 f27 weui-tabbar__icon"></i>

            </span>
        <p class="weui-tabbar__label">缴费管理</p>
    </a>

    <a href="/diagnosis/dialist" class="weui-tabbar__item  weui-bar__item_on">
                <span style="display: inline-block;position: relative;">
                    <i class="icon icon-115 f27 weui-tabbar__icon"></i>

                </span>
        <p class="weui-tabbar__label">诊断结果</p>
    </a>

    <a href="/user/mine" class="weui-tabbar__item ">
        <i class="icon icon-85 f27 weui-tabbar__icon" ></i>
        <p class="weui-tabbar__label">个人中心</p>
    </a>
</div>


</body>
</html>