<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:float="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>确认支付</title>
  <link rel="stylesheet" href="/css/weui.css"/>
  <link rel="stylesheet" href="/css/weuix.css"/>
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/common/zepto.min.js"></script>
  <script src="/js/common/zepto.weui.js"></script>

</head>
<body ontouchstart>



<div class="weui-flex head-con">
    <div class="weui-flex__item weui-flex__item_left"><div class="placeholder"><a href="javascript:window.history.go(-1)"><span class="icon icon-109"></span></a></div></div>
    <div class="weui-flex__item"><div class="placeholder">确认挂号</div></div>
    <div class="weui-flex__item weui-flex__item_right"><div class="placeholder"><a href="#"><span class="icon icon-40"></span></a></div></div>
</div>

<div style="height:48px;"></div>


<form id="regConfirm" action="/Alipay/goPay">
<div class="weui-cells mt_0">


    <a class="weui-cell weui-cell_access" >
        <div class="weui-cell__bd">
            <p>订单编号</p>
        </div>
        <div class="weui-cells__bd"  th:text="${payNo}"></div>
    </a>
    <a class="weui-cell weui-cell_access" >
        <div class="weui-cell__bd">
            <p>付款内容</p>
        </div>
        <div class="weui-cells__bd" th:text="${payContent}"></div>
    </a>
    <a class="weui-cell weui-cell_access" >
        <div class="weui-cell__bd">
            <p>创建时间</p>
        </div>
        <div class="weui-cells__bd" th:text="${payCreateTime}"></div>
    </a>

    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label" style="color: #0d0d0d;">付款金额</label>
            <em class="weui-form-preview__value" style="color: red" th:text="${payAmount}"></em>
        </div>
    </div>

</div>
    <input  name="payContent" style="display:none" th:value="${payContent}"/>
    <input  name="payNo" style="display:none" th:value="${payNo}"/>
    <input  name="payAmount" style="display:none" th:value="${payAmount}"/>

    <div class="weui-btn-area">
        <input class="weui-btn weui-btn_primary" type="submit"  id="btn" value="确认支付"/>
    </div>
</form>
<!-- 导航 -->
<div class="weui-tabbar weui-tabbar-flex">
    <a href="/register/reglist" class="weui-tabbar__item">
        <i class="icon icon-67 f27 weui-tabbar__icon"></i>
        <p class="weui-tabbar__label">预约挂号</p>
    </a>

    <a href="/payOrder/paylist" class="weui-tabbar__item ">
            <span style="display: inline-block;position: relative;">
                <i class="icon icon-43 f27 weui-tabbar__icon"></i>

            </span>
        <p class="weui-tabbar__label">缴费管理</p>
    </a>

    <a href="/diagnosis/dialist" class="weui-tabbar__item ">
                <span style="display: inline-block;position: relative;">
                    <i class="icon icon-115 f27 weui-tabbar__icon"></i>

                </span>
        <p class="weui-tabbar__label">诊断结果</p>
    </a>

    <a href="/user/mine" class="weui-tabbar__item ">
        <i class="icon icon-85 f27 weui-tabbar__icon" ></i>
        <p class="weui-tabbar__label">个人中心</p>
    </a>
</div>



<script>
    $("#datetime-picker").datetimePicker();


</script>
</body>
</html>